.board{
    margin-top:3%;    
    margin-left:15%;
    width:80%;    
}

.board_write{
    margin-left:85%;
    font-size: 20px;
}

.board_div{
    margin-top:10%;
    margin-left:20%;
}

.board_name{
    font-size: 20px;
}
  
  .board td:nth-child(1){
      border-left:1px solid #ddd;
  }
  .board td{
    text-align: center;
    padding:10px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
  }
  .board th{      
    text-align: center;
  }
  .board thead tr th{
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
  /*   border-right:1px solid #ddd; */
    padding:10px;
    background : #333;
    color:#fff;
  }
  
  